:root {
    --mainBackground: #ECF0F3;
    --text-color: rgba(53, 51, 51, 0.2);
    --neuShadowsOriginalOutset: 18px 18px 30px #D1D9E6,
        -9px -9px 30px #FFFFFF;
    --neuShadowsOriginalInset: inset 18px 18px 30px #D1D9E6,
        inset -9px -9px 30px #FFFFFF;
    --neonColor:   rgba(240, 0, 255, 0.25) ;
}


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1.1px;
    color: var(--text-color);

}

body {
    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: center;

    /* SIZE */
    width: 100%;
    height: 100dvh;

    /* BACKGROUND */
    background: var(--mainBackground);
}

.flex {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#linkForm {
    margin: 5rem auto;
    background-color: var(--mainBackground);
    width: 80dvw;
    height: auto;
    padding: 1rem;

    /* NEUMORPHISM */
    box-shadow: var(--neuShadowsOriginal);
    border-radius: 50px;

}

input,
input:focus,
.submitButton {
    background-color: var(--mainBackground);
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 1rem;
    padding: 1rem;
    overflow: visible;
}
input {
    background: var(--mainBackground);
    box-shadow: var(--neuShadowsOriginalInset);
    
}
.submitButton {
    box-shadow: var(--neuShadowsOriginalOutset);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}
    


li {
    margin-top: 1rem;
    width: 20vw;
    border-radius: 50px;
    padding: 1rem;
    background: var(--mainBackground);
    box-shadow: var(--neuShadowsOriginalOutset);

}

button {
    cursor: pointer;
    width: 20vw;
    background-color: var(--mainBackground);
}





.sortable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    padding: 25px;
    padding: 30px 25px 20px;
}

.sortable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    align-items: center;
    padding: 10px 13px;
    margin-bottom: 11px;
    justify-content: space-between;
}

.item .details {
    display: flex;
    align-items: center;
}

.item.dragging {
    opacity: 0;
}

.item.dragging :where(.details, i) {
    opacity: 0;
    /* transform: scale(1.2); */
}


.linkContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.linkButtons,
.favoriteButton {
    width: auto;
    border: none;
    background: none;
}

.material-symbols-outlined {
    color: var(--text-color);  
    opacity: 0.3;
    transition: ease-in-out 0.3s;
}

.material-symbols-outlined:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: ease-in-out 0.1s;
    color: var(--neonColor);
}

.material-symbols-outlined-fill {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    opacity: 1;
}


/* -------- slide favourite */