/* ------------------------------------------------------------------------ */
:root {
    --mainBackground: #ECF0F3;
    --text-color: rgba(53, 51, 51, 0.2);
    --neuShadowsOriginalOutset: 9px 9px 18px #D1D9E6,
        -9px -9px 30px #FFFFFF;
    --neuShadowsOriginalInset: inset 9px 9px 18px #D1D9E6,
        inset -9px -9px 30px #FFFFFF;
    --neonColor: rgba(240, 0, 255, 0.25);
}


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1.1px;
    color: var(--text-color);

}

body {

    /* SIZE */
    width: 100%;
    min-height: 150dvh;
    height: auto;

    /* BACKGROUND */
    background: var(--mainBackground);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
}

#hamsterfy {
    right: 0;
    position: absolute;
    background-image: url(hamster.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 30px;
    height: 30px;
    opacity: 0.2;
}

#hamsterfy:hover {
    opacity: 1;
}

/* ------------------------------------------------------------------------ */



#linkForm {
    margin: 5rem auto;
    background-color: var(--mainBackground);
    width: 80dvw;
    height: auto;
    padding: 1rem;

    /* NEUMORPHISM */
    box-shadow: var(--neuShadowsOriginal);
    border-radius: 50px;

}

input,
input:focus,
.submitButton,
select {
    background-color: var(--mainBackground);
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 1rem;
    padding: 1rem;
    overflow: visible;
}

::placeholder {
    color: var(--text-color);
}

input {
    background: var(--mainBackground);
    box-shadow: var(--neuShadowsOriginalInset);
    width: 50vw;


}

select {
    background: var(--mainBackground);
    box-shadow: var(--neuShadowsOriginalInset);

}

.submitButton {
    box-shadow: var(--neuShadowsOriginalOutset);
    width: 5dvw;
    height: 5dvw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton:active {
    box-shadow: var(--neuShadowsOriginalInset);
}

.submitButton:active .saveIcon {
    color: var(--neonColor);
}

.contentWrapper {
    display: flex;
}

/* ------------------------------------------------------------------------ */

.divider {
    border-radius: 50px;
    margin-top: 3rem;
    width: 90dvw;
    height: 5px;
    box-shadow: var(--neuShadowsOriginalInset);
}



button {
    cursor: pointer;
    width: 20dvw;
    background-color: var(--mainBackground);
}



/* ------------------------------------------------------------------------ */
.linkContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.liButtonsContainer {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.sortable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25rem;
    margin-top: 6rem;
}



.sortable-list .item {
    list-style: none;
    cursor: move;
    align-items: center;
    margin-bottom: 11px;
    justify-content: space-between;
    outline: none;
    border: none;
}

.itemText {
    display: flex;
    justify-content: space-between;
    width: 20dvw;
    gap: 1rem;
    margin-top: 1rem;
    border-radius: 50px;
    padding: 1rem;
    background: var(--mainBackground);
    box-shadow: var(--neuShadowsOriginalOutset);
}


.item .details {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none;
    padding-left: 1rem;
}





/* ------------------------------------------------------------------------ */
/* Drag & drop */

.item.dragging {
    opacity: 0;
    outline: none;
    border: none;
    box-shadow: none;
}

.item.dragging:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.item.dragging :where(.details, i) {
    opacity: 0;
    outline: none;
    border: none;
    box-shadow: none;
}

.item.dragging :where(.details, i):focus {
    opacity: 0;
    outline: none;
    box-shadow: none;
    border: none;
}




/* ------------------------------------------------------------------------ */
/* Icons */


.linkButtons,
.favoriteButton {
    width: auto;
    border: none;
    background: none;
}

.material-symbols-outlined {
    color: var(--text-color);
    opacity: 0.3;
    transition: ease-in-out 0.3s;
}

.material-symbols-outlined:hover:not(.spanExclude) {
    opacity: 1;
    transform: scale(1.2);
    transition: ease-in-out 0.1s;
    color: var(--neonColor);
}

.material-symbols-outlined-fill {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    opacity: 1;
}

.saveIcon {
    font-size: 2rem;
}

/* ------------------------------------------------------------------------ */








/* -------- slide favourite */

.FavouriteButtonContainer {
    display: flex;
    align-items: center;
    background-color: #ECF0F3;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100px;
    height: 1rem;
    box-shadow: inset 18px 18px 30px #D1D9E6, inset -9px -9px 30px #FFFFFF;
    position: relative;
}



.buttonCenter {
    background-color: #ECF0F3;
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 18px 18px 30px #D1D9E6,
        -9px -9px 30px #FFFFFF;
    margin-left: 0px;

}

@keyframes slideForward {
    0% {
        margin-left: 0px;
        box-shadow: 1px 1px 10px rgba(240, 0, 255, 0),
            -1px -1px 10px rgba(240, 0, 255, 0);
    }

    100% {
        margin-left: 69px;
        box-shadow: 1px 1px 10px rgba(240, 0, 255, 0.25),
            -1px -1px 10px rgba(240, 0, 255, 0.25);
    }
}

@keyframes slideBack {
    0% {
        margin-left: 70px;
    }

    100% {
        margin-right: 0px;
    }
}


.buttonCenter.animate-forward {
    animation: slideForward 1s forwards;
}

.buttonCenter.animate-forward .spanExclude {
    color: var(--neonColor);
}

.buttonCenter.animate-backward {
    animation: slideBack 1s forwards;
}

.FavouriteButtonContainer.animate-forward {
    animation: slideForwardLight 1s forwards;
}

.FavouriteButtonContainer.animate-backward {
    animation: slideBackLight 1s forwards;
}


/* ------------------------------------------------------------------------ */













/* Dial */
/* ------------------------------------------------------------------------ */


.dialWrapper {
    margin: 10rem;
    position: absolute;
    left: 5rem;
    width: 200px;
    min-width: 100px;
    height: 200px;
    box-shadow: var(--neuShadowsOriginalOutset);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    margin-bottom: 25rem;
}

.dialKnob {
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
}

.dialKnob::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid var(--text-color);
    border-radius: 50%;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

}

.dialButton {
    border: none;
    background-color: transparent;
}

#dialButton1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -300%);
}

#dialButton2 {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-20%, -50%);
}

#dialButton3 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 200%);
}

#dialButton4 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-90%, -50%);
}

/* ------------------------------------------------------------------------ */